/* unvisited link */
a:link {
    color: #0000FF;
}

/* visited link */
a:visited {
    color: #0000FF;
}

/* mouse over link */
a:hover {
    color: #0000FF;
}

/* selected link */
a:active {
    color: #0000FF;
}

body {
  padding-top: 50px;
}
.me {
  padding: 40px 15px;
  text-align: center;
}

.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

#degrees {
	font-size: 25px;
} 

#projects {
  padding: 40px 15px;
  font-size: 20px;
  text-align: left;
}

footer {
  display: block;
  text-align: center;
}

h1, h2, h3 {
  font-size: 20px;

}