body {
  padding-top: 50px;
}
.me {
  padding: 40px 15px;
  text-align: center;
}

.navbar-default
{
  background-color: black;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

#degrees {
	font-size: 25px;
} 

.projects {
  padding: 40px 15px;
  font-size: 25px;
  text-align: left;
}

h3 {
  background-color: white;
  font-size: 24px;
}