<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>CS Skills</title>

  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="../static/css/stylesheet.css" rel="stylesheet">

</head>

<body>

 <!-- Fixed navbar -->
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Braden Katzman</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="../index.html">Home</a></li>
        <li><a href="education.html">Education</a></li>
        <li><a href="workExperience.html">Work Experience</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


<div class="jumbotron">
  <h1><center>Computer Science Skills</center></h1>
  <p><center>This page outlines the various programming languages, IDEs, and tools that I have used, as well as different programs that I have developed.<br>Please <a href="email.html">contact me</a> for source code!</center></p>
</div>


<div class="row">
  <div class="col-xs-6">
    <ul class="list-group">      
      <li class="list-group-item"><h1><center>Programming Languages and Proficiency</center></h1></li>
      <li class="list-group-item"><center><strong>Java</strong>
        <div class="progress">
          <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"><span class="sr-only">85% Complete</span></div>
        </div>
      </center></li>
      <li class="list-group-item"><center><strong>C</strong></center>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"><span class="sr-only">85% Complete</span></div>
        </div>
      </li>
      <li class="list-group-item"><center><strong>Python</strong></center>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"><span class="sr-only">75% Complete (success)</span></div>
        </div>
      </li>
      <li class="list-group-item"><center><strong>C++</strong></center>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"><span class="sr-only">75% Complete</span></div>
        </div>
      </li>
      <li class="list-group-item"><center><strong>Javascript</strong></center>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%"><span class="sr-only">35% Complete (success)</span></div>
        </div>
      </li>
      <li class="list-group-item"><center><strong>HTML/CSS</strong></center>
        <div class="progress">
          <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><span class="sr-only">80% Complete</span></div>
        </div>
      </li>
    </ul>
  </div><!-- /.col-xs-6 -->

  <div class="col-xs-6">
    <ul class="list-group">
      <li class="list-group-item"><h1><center>Projects</center></h1></li>
      <li class="list-group-item"><center><strong>LCULPA</strong></center>
        <br>LCULPA is a web application that I wrote for students at my college. The app allows students to submit and browse professor reviews to better help them choose their classes. The application is written in Python and run via Flask. The database is a MongoDB with a running instance through MongoLab.
        <br>Link: <a href="https://lculpa.herokuapp.com" target="_blank">LCULPA</a>
        <br><a href="https://github.com/bradenkatzman/lculpa" target="_blank">Source Code</a> 
      </li>
      <li class="list-group-item"><center><strong>Web Server</strong></center>
        <br>I wrote a web server in C (three-tier architecture) that delivers static HTML pages and allows database searching by maintaining a persistent backend database connection. The server processes HTTP requests and responds accordingly.
      </li>
      <li class="list-group-item"><center><strong>Minimum Spanning Trees</strong></center>
        <br>I developed two programs in Java that use Dijkstra's and Kruskal's algorithms to find minimum spanning trees between US cities. Through a GUI, users can select two cities and the MST is displayed graphically.
      </li>
      <li class="list-group-item"><center><strong>Huffman Codes</strong></center>
        <br>I wrote a Java program that utilizes a Minimum Binary Heap to determine the character frequency of a file, simulating the underlying process of file compression. The program reads through the file and builds a binary heap corresponding to character frequency in the given file.
      </li>
      <li class="list-group-item"><center><strong>Spell Checker</strong></center>
        <br>I wrote a Java program that first enters a few hundred thousand dictionary words into a hash table and then allows the user to use the table as a spell checker.
      </li>
       <li class="list-group-item"><center><strong>Shell Script Database Search</strong></center>
        <br>I wrote a C program that executes a shell script which uses named pipes, netcat, and piping to allow a user to connect to my program from a separate terminal on a known port and search a database of messages.
      </li>
       <li class="list-group-item"><center><strong>C++ Templates</strong></center>
        <br>This C++ program creates a list class (TList) a few different ways. The first is with an underlying C linked list which I wrote previously, the second is templated with a private C++ list member so it can be used with any data object, and the third is also templated with a private C++ vector member so the [] operator can be used more efficiently.
      </li>
       <li class="list-group-item"><center><strong>Expression Tree Evaluator</strong></center>
        <br>I wrote a Java program which uses a stack to evaluate expression trees. The program pushes integers on the stack, pops and evaluates them on an operand, and then pushes the result back on the stack. At the end of the expression, the stack is checked to ensure there is just one integer, the result, and pops said result and returns it to the user.
      </li>
    </ul>
  </div><!-- /.col-xs-6 -->
</div>

<div class="row">
  <div class="col-xs-6">
    <ul class="list-group">
      <li class="list-group-item"><h1><center>Tools, Frameworks, Databases</center></h1></li>
      <li class="list-group-item"><center>Make & gdb</center></li>
      <li class="list-group-item"><center>Flask</center></li>
      <li class="list-group-item"><center>MongoDB</center></li>
      <li class="list-group-item"><center>Bootstrap</center></li>
      <li class="list-group-item"><center>Vim</center></li>
    </ul>
  </div><!-- /.col-xs-6 -->

  <div class="col-xs-6">
    <ul class="list-group">
      <li class="list-group-item"><h1><center>Experience</center></h1></li>
      <li class="list-group-item"><center>Sockets API</center></li>
      <li class="list-group-item"><center>HTTP</center></li>
      <li class="list-group-item"><center>TCP/IP</center></li>
      <li class="list-group-item"><center>Shell Scripting</center></li>
      <li class="list-group-item"><center>Mobile Application Development via <a href="http://journeyapps.com/" target="_blank">Journey Platform</a></center></li>
      <li class="list-group-item"><center>Front End Web Development</center></li>
      <li class="list-group-item"><center>Fundamental Data Structures</center></li>
    </ul>
  </div><!-- /.col-xs-6 -->
</div>

<div class="row">
  <div class="col-xs-6">
    <ul class="list-group">
      <li class="list-group-item"><h1><center>Development Environments</center></h1></li>
      <li class="list-group-item"><center>Eclipse</center></li>
      <li class="list-group-item"><center>Git & Github</center></li>
      <li class="list-group-item"><center>Journey Development Platform</center></li>
    </ul>
  </div><!-- /.col-xs-6 -->
</div>


<!-- include bootstrap JS files -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

</body>
</html>