<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Education</title>

	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="../static/css/stylesheet.css" rel="stylesheet">

  <style type="text/css">
    #main {
      margin-top: 100px;
    }
  </style>

</head>

<body>

  <!-- Fixed navbar -->
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Braden Katzman</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="../index.html">Home</a></li>
        <li><a href="workExperience.html">Work Experience</a></li>
        <li><a href="csSkills.html">CS Skills</a></li>
        <li><a href="resume.html">Resume/CV</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div id="main">

<p id="degrees"><center><strong>DEGREES & CERTIFICATES</strong></center></p>

<div class="row">

  <div class="col-xs-6"><center><strong>Columbia University</strong>: B.A. in Computer Science (Software Systems)<br>Expected Completion: May 17, 2017</center></div>
  <div class="col-xs-6"><center><strong>The Jewish Theological Seminary of America</strong>: B.A. in Jewish Philosophy<br>Expected Completion: May 17, 2017</center></div>
  <div class="col-xs-6"><center><strong>Stanford University</strong>: Certificate of Completion in Computer Science (<a href="http://summer.stanford.edu/academics/intensive-studies/scientific-foundations/" target="_blank">Summer Intensive in Computer Science</a>)<br>Expected Completion: August 15, 2015</center></div>

</div>

<p id="degrees"><center><strong>COURSES</strong><br>(* denotes anticipated class)</center></p>

<div class="row">
  <div class="col-xs-6 col-sm-4">

    <h1><center><strong><u>Columbia University</u></strong></center></h1>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th><center>Computer Science Major<center></th>
          <th><center>The Core<center></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Calculus III</td>
          <td>University Writing</td>
        </tr>
        <tr>
          <td>Discrete Mathematics: Intro Combinatorics & Graph Theory</td>
          <td>Classical Mythology</td>
        </tr>
        <tr>
          <td>Probability/Statistics*</td>
          <td>Introduction to Philosophy*</td>
        </tr>
        <tr>
          <td>Introduction to Programming in Java</td>
          <td>Masterpieces of Western Art</td>
        </tr>
        <tr>
          <td>Data Structures and Algorithm Analysis</td>
          <td>Masterpieces of Western Music</td>
        </tr>
        <tr>
          <td>Advanced Programming in C/C++</td>
          <td>The Rise of Civilization</td>
        </tr>
        <tr>
          <td>Computer Science Theory</td>
          <td>Gandhi & His Interlocutors</td>
        </tr>
        <tr>
          <td>Fundamentals of Computer Systems</td>
          <td>Challenges of Sustainable Development*</td>
        </tr>
        <tr>
          <td>Programming Languages and Translators*</td>
          <td>Theories of the Universe</td>
        </tr>
        <tr>
          <td>Operating Systems*</td>
          <td></td>
        </tr>
        <tr>
          <td>Computer Networks*</td>
        </tr>
        <tr>
          <td>Undergraduate Projects (Software Systems Lab)</td>
        </tr>
        <tr>
          <td>TBD</td>
        </tr>
      </tbody>
    </table>


  </div>

  <div class="col-xs-6 col-sm-4">

    <h1><center><strong><u>Stanford University</u></strong></center></h1>

    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Introduction to Computer Graphics and Imaging</td>
          <td>Client-Side Internet Techologies</td>
        </tr>
      </tbody>
    </table>


  </div>
  <div class="col-xs-6 col-sm-4">

    <h1><center><strong><u>The Jewish Theological Seminary of America</u></strong></center></h1>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th><center>Jewish Philosophy Major<center></th>
          <th><center>JTS Core</center></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Medieval Jewish Thought</td>
          <td>List 101</td>
        </tr>
        <tr>
          <td>Medieval Jewish Ethical Works</td>
          <td>Hebrew (5 semesters)</td>
        </tr>
        <tr>
          <td>Jewish Political Thought</td>
          <td>First-Year Seminar: Jewish Community</td>
        </tr>
        <tr>
          <td></td>
          <td>Intro to Biblical Literature</td>
        </tr>
        <tr>
          <td></td>
          <td>Intro to Talmud: Pesachim</td>
        </tr>
        <tr>
          <td></td>
          <td>Medieval Jewish History</td>
        </tr>
        <tr>
          <td></td>
          <td>American Jewish History</td>
        </tr>
        <tr>
          <td></td>
          <td>God & Ethics</td>
        </tr>
        <tr>
          <td></td>
          <td>Yiddish Plays in Translation</td>
        </tr>
        <tr>
          <td></td>
          <td>Language of the Prayerbook</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
</div>


<!-- include bootstrap JS files -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

</body>
</html>