<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Software Lab Testing</title>

	<style type="text/css">

	body {
		background-color: #87CEFA;
	}

	ul {
		font-size: 14pt;
	}

	</style>
</head>

<body>

	<h1>Open a BriskNote via the web</h1>
	<p>Enter a file name OR click button to generate new note: </p><input type="text" id="fileName" />
	<button type="button" onclick="open_note()">Open BriskNote</button>
	<ul>
		<li>BriskNote Files</li>
		<ul>
			<li><a href="brisknote-app://brisknote/groceries.txt">groceries.txt</a></li>
		</ul>
		
		<br>
		<li>Test DuckDuckGo Deep Linking</li>
		<ul>
			<li><a href="https://en.wikipedia.org/wiki/List_of_free_and_open-source_Android_applications" target="_blank">Wikipedia Android Open Source Page</a></li>
		</ul>
	</ul>

	<script type="text/javascript">
	function open_note() {
		console.log("redirecting to brisknote");
		var note = document.getElementById("fileName").value;
		var URL = "brisknote-app://brisknote/" + note;
		console.log(URL);
		document.location.href = URL;
	}
	</script>

</body>

</html>