<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Work Experience</title>

  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="../static/css/stylesheet.css" rel="stylesheet">

  <style type="text/css">
  #main {
    margin-top: 50px;
  }
  </style>

</head>

<body>

  <div>
   <!-- Fixed navbar -->
   <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Braden Katzman</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="../index.html">Home</a></li>
          <li><a href="education.html">Education</a></li>
          <li><a href="workExperience.html">Work Experience</a></li>
          <!-- <li><a href="csSkills.html">CS Skills</a></li> -->
          <li><a href="resume.html">Resume/CV</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</div>

<div id="main">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th><center>Organization</center></th>
        <th></center>Title</center></th>
        <th><center>Description & Projects</center></th>
        <th><center>Duration</center></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="https://www.mskcc.org/research-areas/labs/zhirong-bao" target="_blank">Zhirong Bao Lab</a> at The Memorial Sloan Kettering Cancer Center</td>
        <td>Software Engineer</td>
        <td><a href="http://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-015-0627-8" target="_blank">WormGUIDES</a>: An interactive single cell developmental atlas and tool for collaborative 4-dimensional data exploration of C. elegans<br>
          <a href="http://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-7-275" target="_blank">AceTree</a>a tool for visual analysis of Caenorhabditis elegans embryogenesis</td>
        <td>August 2015-present</td>
      </tr>
      <tr>
        <td><a href="http://systems.cs.columbia.edu/" target="_blank">Software Systems Labratory</a> at Columbia University</td>
        <td>Undergraduate Researcher</td>
        <td>Android OS research. Exploring deep linking and sharing (<a href="https://unity3d.com/" target="_blank">UnityGameEngine</a>)</td>
        <td>August 2015-May 2016</td>
      </tr>
      <tr>
        <td><a href="http://dolfyn.com/" target="_blank">Dolfyn</a> (Mobility Division of <a href="http://www.accrete-solutions.com/" target="_blank">Accrete Solutions</a>)</td>
        <td>Mobile Application Developer, Research Analyst</td>
        <td>Develop mobile business applications on the <a href="http://journeyapps.com/" target="_blank">Journey</a> Platform (XML, Javascript), research existing business software solutions</td>
        <td>March 2015-September 2015</td>
      </tr>
      <tr>
        <td>The Society for the Advancement of Judaism (<a href="http://www.thesaj.org/" target="_blank">SAJ</a>)</td>
        <td>Third grade teacher</td>
        <td>I teach third graders once a week at the founding Reconstructionist synagogue in New York City</td>
        <td>Fall 2014-May 2016</td>
      </tr>
      <tr>
        <td><a href="http://paloaltojcc.org/" target="_blank">Palo Alto Jewish Community Center</a></td>
        <td><a href="http://www.jvs.org/job-seekers/get-job-training-experience/kohn-summer-intern-program/" target="_blank">JVS Kohn Intern</a></td>
        <td>Community outreach, event planning, technology consulting and improvements</td>
        <td>June 2014-August 2014</td>
      </tr>
    </tbody>
  </table>

</div>


<!-- include bootstrap JS files -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

</body>
</html>